<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="admin-login-form--wrapper">
    <div class="admin-login-form--content">
    <div class="admin-welcome--wrapper">
        <div class="admin-welcome--label">
            <span>Secure Account Log In</span>
        </div>
        <div ng-show="isError" class="error">
            <span class="error-label">The information you provided does not match our records. Please re-enter your login information.</span>
        </div>
    </div>
    <form class="admin-login--form">
        <div class="usernameField">
            <input type="text" name = "username" ng-model="login.username" placeholder="User Name" autofocus="autofocus">
        </div>
        <div class="passwordField">
            <input type="text" name="password" ng-model="login.password" placeholder="Password">
        </div>
        <div class="buttonFiled">
            <input type="button" class="btn btn-success ok-btn" name="Go" value="Go" ng-click="loginAsAdminInit()">
            <input type="button" class="btn btn-danger cancel-btn" name="Cancel" value="Cancel" ng-click="cancel()">
        </div>
    </form>
    </div>
</div>

</body>
</html>